/bin/
/obj/
*.apk
*.dll
*.mdb
*.pdb
StyleLights/obj/Debug/acw-map.txt
StyleLights/obj/Debug/android/assets/machine.config
StyleLights/obj/Debug/android/bin/classes/com/companyname/stylelights/R$attr.class
StyleLights/obj/Debug/android/AndroidManifest.xml
StyleLights/obj/Debug/android/bin/classes/com/companyname/stylelights/R$id.class
StyleLights/obj/Debug/android/bin/classes/md56a4b26279f3076cbd7c96ed8f8981184/CustomizationMainActivity.class
StyleLights/obj/Debug/android/bin/classes/md56a4b26279f3076cbd7c96ed8f8981184/PatternSelectionScreenCustomActivity.class
StyleLights/obj/Debug/android/bin/classes/mono/android/Seppuku.class
StyleLights/obj/Debug/android/bin/classes/mono/MonoRuntimeProvider.class
StyleLights/obj/Debug/android/bin/resources_and_assemblies
StyleLights/obj/Debug/android/src/md56a4b26279f3076cbd7c96ed8f8981184/CustomizationMainActivity.java
*.java
StyleLights/obj/Debug/res/drawable-hdpi/icon.png
StyleLights/obj/Debug/res/drawable-xxhdpi/icon.png
StyleLights/obj/Debug/res/layout/customizelighting.xml
StyleLights/obj/Debug/res/layout/patternactivatescreen.xml
StyleLights/obj/Debug/resolved_assemblies.txt
StyleLights/obj/Debug/strip.flag
StyleLights/obj/Debug/uploadflags.txt
StyleLights/obj/Debug/android/bin/classes.dex
StyleLights/obj/Debug/android/bin/classes/md56a4b26279f3076cbd7c96ed8f8981184/PatternActivateScreenActivity.class
StyleLights/obj/Debug/android/bin/classes/mono/android/app/Application$NotifyTimeZoneChanges.class
*.class
StyleLights/obj/Debug/android/bin/mono.android.jar
StyleLights/StyleLightsCore/obj/Debug/res/drawable-hdpi/icon.png
